{% extends 'base.html.twig' %}
{% block body %}
    {% block header %}
        <header> 
			<h1>Biblioteca particular</h1> 
		</header> 
    {% endblock %}

    {% block nav %}
        <nav> 
			<ul> 
				<li><a href="{{ path('inicio') }}">inicio</a></li> 
        {% if is_granted('ROLE_USER') %}
				<li><a href="{{ path('libros') }}">ver libros</a></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('nuevo') }}">nuevo libro</a></li>	
        {% endif %}
				<li><a href="{{ path('buscar') }}">buscar libro</a></li>		
        {% endif %}	
			</ul>
		</nav> 
    {% endblock %}

    {% block main %}


    {% endblock %}
    
    {% block footer %}
        <footer>
        {% if is_granted('ROLE_USER') %}
        Usuario logeado como {{ app.user.username }} <a href="{{ path('logout') }}">[Cerrar sesión]</a>
        {% else %}
			- Desarrollo Web en Entorno Servidor 2019/2020 
      {% endif %}
		</footer> 
    {% endblock %}

{% endblock %}